<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>New item - 2</key>
	<data></data>
	<key>New item - 3</key>
	<date>2016-08-14T00:45:44Z</date>
	<key>New item - 4</key>
	<integer>0</integer>
	<key>New item - 5</key>
	<false/>
</dict>
</plist>
